@import 'root.css';
@import 'wrapper.css';
@import 'header.css';
@import 'hero.css';



.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: var(--primary-color);
}

.heading.span{
    color: var(--tersiery-color);
}

